@font-face {
  font-family: "Anirm";
  src: url("Imported_Fonts/anirm___-webfont.woff") format("woff"),
    url("Imported_Fonts/") format("truetype");
}

body {
  background: url(Media_Files/Background_Wood.jpg);
  background-size: cover;
}

h1 {
  font-family: "Anirm";
  color: whitesmoke;
  margin: auto;
  text-align: center;
}

h4 {
  font-family: "Anirm";
  color: whitesmoke;
  margin: auto;
  text-align: center;
}

footer {
  position: relative;
  top: 475px;
  font-family: "Anirm";
  color: whitesmoke;
  font-size: 10pt;
  margin: auto;
  text-align: center;
}

#box {
  position: relative;
  top: 50px;
  width: 1000px;
  height: 150px;
  margin: auto;
}

.row {
  display: flex;
  width: 1000px;
  height: 25%;
}

.wall {
  background: url(Media_Files/forest-top.jpg);
  background-size: cover;
  height: 100%;
  width: 25%;
}

.floor {
  background: url(Media_Files/dirt_background.jpg);
  background-size: cover;
  height: 100%;
  width: 25%;
}

.start {
  background: url(Media_Files/dirt_background.jpg);
  background-size: cover;
  height: 100%;
  width: 25%;
}

#cell8-20 {
  background: url(Media_Files/Gandalf.jpg);
  background-size: cover;
  height: 100%;
  width: 25%;
}

.legolas {
  position: relative;
  background: url(Media_Files/Legolas-PNG-Image.png);
  background-size: cover;
  height: 100%;
  width: 100%;
}
